body{
      margin: 0;
}


.header-info{
  background-color: var(--color-secondary);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1000;
  left: 0;
  box-shadow: 0 4px 4px rgba(135, 127, 127, 0.1); 
  height: clamp(2.5rem, 1.8478rem + 3.2609vw, 4.375rem);
}

.header-info svg{
  width:  clamp(9rem, 8.9353rem + 11.4958vw, 20rem);;
  height: auto;
}
