body{
      margin: 0;
}

.header-info{
  background-color: var(--color-secondary);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 1000;
  left: 0;
  box-shadow: 0 4px 4px rgba(135, 127, 127, 0.1); 
  height: clamp(2rem, 1.9959rem + 0.7315vw, 2.7rem);

}

.header-info svg{
  width:  clamp(9rem, 8.9353rem + 11.4958vw, 20rem);;
  height: auto;
}
.menu-button{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    z-index: 1001;
}
/* off screen menu  */
.off-screen-menu{
    position:fixed;
    top: 0;
    right: -450px; /*dan is het menu uit het beeldscherm het is -450 eruit*/
    z-index: 999; /*brengt het naar voren zodat het niet in de header blijft*/
    background-color: var(--color-primary);
    height: 100vh;
    width:100%;
    max-width: 450px;
    transition: right .3s ease;
}
/* menu in beeld */
.off-screen-menu.active{
    right:0; /*dan komt de menu in beeld aan de rechterkant */
}
.off-screen-menu ul{
    display:flex;
    flex-direction: column;
    list-style-type: none;
    color: var(--color-secondary);
    gap: 20px;
    margin-top: 80px;
    margin-left: 30px;
}
.off-screen-menu li:hover{
        color: var(--color-highlight);
        cursor:pointer;
}
.ham-menu{
    height: 50px;
    width: 50px;
    margin-left: auto;
    position:relative;
    display:flex;
    flex-direction: row;
    z-index:1000;
}
.ham-menu span{
    height: 2px;
    width: 90%;
    background-color: var(--color-text-secondary);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 15px;
    transform:translate(-50%, -50%);
    transition: transform .3s ease, opacity .3s ease;
}

.ham-menu span:nth-child(1){
top: 30%;
}
.ham-menu span:nth-child(3){
top: 70%;
}

.ham-menu.active span:nth-child(1){
top:50%;
transform: translate(-50%, -50%) rotate(45deg);
background-color: var(--color-secondary);
}
.ham-menu.active span:nth-child(2){
opacity: 0;
}
.ham-menu.active span:nth-child(3){
top: 50%;
transform: translate(-50%, -50%) rotate(-45deg);
background-color: var(--color-secondary);
}.filter {
    display: flex;
    gap: 80px;
    margin-left: 15px;
    box-sizing: border-box;
}

/* Alle woorden behalve de eerste word hiermee gepakt */
.filter span:not(:first-child) {
    position: relative;   /* nodig voor pseudo-element */
    padding: 5px 10px;    
    cursor: pointer;
    z-index: 1;           /* tekst boven pseudo-element */
    transition: color 0.3s ease;
}

/* pseudo-element voor hover achtergrond */
.filter span:not(:first-child)::before {
    content: '';
    position: absolute;
    top: -5px;       /* boven de tekst */
    bottom: -5px;    /* onder de tekst */
    left: -10px;     /* links van de tekst */
    right: -10px;    /* rechts van de tekst */
    background-color: transparent;
    border-radius: 8px;
    z-index: -1;     /* achter de tekst */
    transition: background-color 0.3s ease;
}

/* hover-effect op de filter*/
.filter span:not(:first-child):hover::before {
    background-color: var(--color-primary); /* kies je hover kleur */
}

.filter span:not(:first-child):hover {
    color: var(--color-highlight);
}
h1{
  font-size: var(--font-size-h3);
  margin:15px;
}

/* Kaartjes  */
.card {
  width: 300px; 
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
 height:380px;
}

.card a {
  text-decoration: none; /*haalt de lijn van een link weg*/
}

.card-img {
  width: 100%;
  height: 180px; 
  object-fit: cover; /* afbeelding vult de ruimte in */
  display: block;
}

.card-content {
  padding: 12px 16px;
  background-color: var(--color-highlight);
}
.card-content h2{
   font-size: var( --font-size-h3)
}
/* hover effect op p binnen .card-content */
.card-content:hover p {
  text-decoration: underline;
  text-decoration-style:solid;
}

.article-container{
  display:flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  display:grid;
  justify-content: center;
  
  @media (min-width: 42em) {
     grid-template-columns: 18em 18em;
  }

  @media (min-width: 62em) {
    grid-template-columns: 18em 18em 18em;
  }  

  @media (min-width: 82em) {
    grid-template-columns: 18em 18em 18em 18em;
  }
}
